# ========================
# Core & Framework
# ========================
ensure ox_lib
ensure es_extended
ensure oxmysql
ensure spawnmanager
ensure nv_interact
ensure luacore
ensure core
ensure xsound
ensure core-ui
ensure chat
ensure persistent-vehicles
# ========================
# Interface & HUD
# ========================
ensure nv_creator
#ensure nv_enterspawn
ensure ui
ensure nv_hud
ensure speedo
ensure notif
ensure nv_gofast
ensure deathscreen
ensure HideHUD
ensure prompt
ensure info
ensure fuel

# ========================
# Police & Justice
# ========================
ensure mdt
ensure stickgame

# ========================
# Inventaire & Items
# ========================
ensure ox_inventory
ensure ox_target
ensure ox_doorlock
ensure MugShotBase64
# ========================
# Joueur
# ========================
ensure jsfour-idcard

# ========================
# Boutiques & Economy
# ========================
ensure nv_boutique
ensure nv_banking
ensure nv_blackmarket
ensure nv_cloth
ensure nv_pausemenu
ensure [keymaster]
# ========================
# Voice & Communication
# ========================
ensure pma-voice

# ========================
# Besoins & Status
# ========================
ensure esx_basicneeds
ensure esx_status
ensure esx_weaponsync

# ========================
# Armes & Combat
# ========================
ensure ArmePerm

# ========================
# MLO, Map addons & Clothing
# ========================
#ensure [mapping]
# ensure [weapon]
#ensure clothes
#ensure [car]

# ========================
# Phone and dependencies
# ========================
#  ensure [phone] # Si vous le possédez, décommentez cette ligne
ensure chMaps
ensure chProps1
ensure chProps2
ensure chProps3
ensure chProps4
ensure chPropsmlo
ensure chYmap1
ensure chYmap2
ensure chYmap3
ensure [chicago1]
ensure ls-removed
# Choose ONE demo at a time:
ensure diables_hopital
ensure [AtlantaV2]

# ========================
# Divers
# ========================
ensure PolyZone
ensure screenshot-basic
ensure dj
ensure yarn
ensure wItem
ensure rpemotes
ensure webpack
ensure dr-scratching
ensure tstudio_tattoo_studio