//
// Select
//

@import '../../styles/_variables.scss';

.select {
  border: 0;
  outline: 0;
  appearance: none;
  -webkit-appearance: none;
  min-width: 125px;
  height: 42px;
  padding: 7px 14px;
  border: 1px solid rgb(255, 255, 255, 0.1);
  border-radius: calc($default-border-radius / 1.5);
  background-color: rgb(255, 255, 255, 0.05);
  font-family: 'Gilroy';
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: #d0d0d0;
  transition: all 125ms;

  &:focus {
    border-color: rgb(255, 255, 255, 0.25);
  }

  &--style-two {
    padding: 8px 15px;
    border-color: transparent;
    background-color: #232428;
    font-weight: 600;
    color: #747578;

    &::placeholder {
      color: #777b82 !important;
    }

    &:focus {
      border-color: rgb(255, 255, 255, 0.075);
    }
  }

  &-container {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 14px;
      margin: auto;
      width: 6px;
      height: 10px;
      background-image: url('../../assets/icons/arrow-right.svg');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      transform: rotate(90deg);
    }
  }
}

#jailTimeType {
  // max-height: vh(30) !important;
  .modal-select-option__control {
    max-height: vh(40) !important;
  }
}

// React Select styles (from AddWantedsModal style)
.modal-select-option {
  &__control {
    min-height: auto !important;
    padding: vh(10) vh(14) !important;
    border: vh(1) solid rgba(255, 255, 255, 0.1) !important;
    border-radius: 0 !important;
    background: $button-inactive-bg !important;
    box-shadow: none !important;
    transition: all 0.1s ease-in-out !important;

    &--is-focused {
      border-color: rgba(255, 255, 255, 0.25) !important;
      background: $button-hover-bg !important;
    }
  }

  &__value-container {
    padding: 0 !important;
  }

  &__clear-indicator {
    display: none !important;
  }

  &__indicator {
    padding-right: 0 !important;
    color: rgb(255, 255, 255, 0.5) !important;

    &-separator {
      display: none;
    }
  }

  &__input,
  &__placeholder {
    font-family: 'Gilroy' !important;
    font-size: vh(13) !important;
    font-weight: 500 !important;
    line-height: 1.4 !important;
    color: $text-secondary !important;
    transition: all 0.1s ease-in-out !important;
  }

  &__multi-value {
    padding: vh(6) vh(8);
    border-radius: 0 !important;
    background: $accent-blue-bg !important;
    color: $accent-blue !important;

    &__label {
      font-family: 'Gilroy';
      font-size: vh(12) !important;
      font-weight: 600;
      color: $accent-blue !important;
    }

    &__remove {
      background: transparent !important;
      transition: all 0.1s ease-in-out;

      &:hover {
        cursor: pointer;
        color: $accent-blue !important;
        opacity: 0.6;
      }
    }
  }

  &__single-value {
    font-size: vh(13) !important;
    font-weight: 500 !important;
    line-height: 1.4 !important;
    color: $text-primary !important;
  }

  &__menu {
    padding: 0 !important;
    border: vh(1) solid rgba(255, 255, 255, 0.1);
    border-radius: 0 !important;
    background: $button-inactive-bg-darker !important;
    box-shadow: 0 vh(10) vh(30) rgba(0, 0, 0, 0.5);

    &-list {
      padding: 0 !important;
    }
  }

  &__option {
    padding: vh(10) vh(12) !important;
    font-size: vh(13) !important;
    font-weight: 500 !important;
    line-height: 1.4 !important;
    color: $text-secondary !important;
    transition: all 0.1s ease-in-out;

    &--is-focused {
      background: $button-hover-bg-darker !important;
      color: $text-primary !important;
    }

    &--is-selected {
      background: $accent-blue-bg !important;
      color: $accent-blue !important;
    }

    &:hover {
      cursor: pointer;
      background: $button-hover-bg-darker !important;
      color: $text-primary !important;
    }
  }

  &__avatar {
    &--small &-img {
      min-width: 26px;
      max-width: 26px;
      height: 26px;
    }

    &-img {
      min-width: 32px;
      max-width: 32px;
      height: 32px;
      margin-right: 7px;
      border-radius: 999px;
      object-fit: cover;
      user-select: none;
      -webkit-user-select: none;
      pointer-events: none;
    }
  }

  &__name {
    font-family: 'Gilroy';
  }
}
